<div class="row no-gutters slider-arriba">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade w-100" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active mx-2"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1" class="mx-2"></li> -->
            <!--<li data-target="#carouselExampleIndicators" data-slide-to="2" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" class="mx-2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5" class="mx-2"></li> -->
        </ol>

        <div class="carousel-inner active">
            <div class="carousel-item active">
                <picture>
                    <source media="(max-width: 600px)" srcset="img/home/carrousel/mx/banner-1-700x700.png">
                    <img src="img/home/carrousel/mx/banner-1-1200x555.png" class="d-block w-100" alt="...">
                </picture>
            </div>

            <!-- <div class="carousel-item">
                <picture>
                    <source media="(max-width: 600px)" srcset="img/home/carrousel/pr/banner-1_700.jpg">
                    <img src="img/home/carrousel/pr/banner-1.jpg" class="d-block w-100" alt="...">
                </picture>
                <div class="carousel-caption slider__btn-resp-2 d-block d-md-none">
                    <div class="text-left">
                        <a class="btn btn-estructura-resp btn-naranja mt-md-2" href="donde-comprar">
                            <span class="btn-medio">¿DÓNDE COMPRAR?</span>
                        </a>
                    </div>
                </div>
                <div class="carousel-caption slider-7 d-none d-md-block">
                    <h2 class="h2-slider-1 text-left">¡Ya estamos en <br>
                        Puerto Rico!</h2>
                    <h3 class="h3-slider text-left">
                        Ahora el pan más sabroso<br>
                        está en tus supermercados
                    </h3>
                    <div class="text-left">
                        <a class="btn btn-estructura btn-naranja mt-md-2" href="donde-comprar">
                            <span class="btn-medio">¿DÓNDE COMPRAR?</span>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>